* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: navy;
    color: white;
    text-align: center;
    border: 2px solid darkorange;
    border-radius: 10px;
    width: 97vw;
    height: 97vh;
    margin: 1.5vh auto;
}

#game {
    display: grid;
    place-items: center;
}